label{
    display: block;
    font-size: 13px;
    font-weight: 300;
}

input, textarea{
    display: block;
    margin-bottom: 15px;
    padding: 5px 2%;
    width: 96%;
}

input[type="file"]{
    padding-left: 0;
}

textarea{
    height: 150px;
}

input.botao{
    width: auto;
}

.msg-box{
    background: #f1f2ea;
    border: 1px solid #c7cbab;
    padding: 5px 10px;
    margin-bottom: 15px;
    color: #727272;
}

.msg-box p{
    margin: 0;
    padding: 2px 0;
}

table{
    width: 100%;
    font-size: 18px;
}

table td{
    padding: 10px 0;
}

table tbody tr:hover{
    background: #f1f2ea;
    color: #727272;
}
